<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
</head>
<body>
    {% load static %}
        <div class="basic">
                {% include "home/header.html" %}    
        </div>
    <div class="container">
            
        {% load crispy_forms_tags %}

        {% if user.is_authenticated %}
                <h1 class="welcome">Create an Event</h1>
                <form method ="POST">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <button type="submit"> Submit </button>
                </form>
                <br>
            {% else %}
                <br>
                <p style="color: red">Please <a href="/accounts/google/login?process=login">log in</a> to make an event. You can still view events without being logged in.</p>
    
        {% endif %}

    </div>
    

</body>
</html>