<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ post.name }}</title>
</head>
    <body>
        <div class="container">
            <div class="basic">
            {% include "home/header.html" %}    
            </div>
            
            <h1>{{ post.post_name}}</h1>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <ul>
                    <h2> {{ post.name }}</h2>
                    <h3> Category: {{ post.category }}</h3>
                    <p> {{ post.description }}</p>
                    <p> Location: {{ post.xcoordinate }}, {{ post.ycoordinate }}</p>
                    <p> Posted by {{ post.user.get_full_name }} (Username: {{post.user.username}})</p>
                    <p> Date {{ post.date }} </p>
                    
                    <p>
                            {% if post.attendees.all|length == 0 %}
                                No one has RSVPed to this event yet.
                            
                            {% else %}
                                Attendees: 
                                {% for attendee in post.attendees.all %}
                                <div>{{attendee.get_full_name}} (Username: {{attendee.username}})</div>
                                {% endfor %}
                            {% endif %}
                    </p>
                    <p><a href="/events">Return Back to Events</a></p>
            </ul>
        </div>
    </body>
</html>
