<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ post.name }}</title>
</head>
    <body>
        <div class="container">
            <div class="basic">
            {% include "home/header.html" %}    
            </div>
            
            <h1>{{ post.post_name}}</h1>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <ul>
                    <h2> <b> {{ post.name }} </b></h2>
                    <h3> Category:  {{ post.category }} </h3>
                    <p> <i>{{ post.description }} </i></p>
                    <!--<p> Location: {{ post.xcoordinate }}, {{ post.ycoordinate }}</p> -->
                    <script
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvlkeoncMSwFYtv2h4psA83-MwVFCwLKM&callback=initMap&libraries=&v=weekly"
                        defer
                    ></script>
                    <style type="text/css">
                    #map {
                        height: 400px;
                        width: 100%;
                    }
                    </style>
                    <script>
                    function initMap() {
                        let loc = { lat: parseInt("{{post.xcoordinate}}"), lng: parseInt("{{post.ycoordinate}}") };
                        let map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 15,
                        center: loc,
                        });
                        // The marker, positioned at Uluru
                        const marker = new google.maps.Marker({
                        position: loc,
                        map: map,
                        });
                    }
                    </script>
                    <body>
                        <div id="map"></div>
                    </body>
                    <p> Posted by {{ post.user.get_full_name }} (Username: {{post.user.username}})</p>
                    <p> Event date: {{ post.event_date }}</p>
                    <p> Date posted: {{ post.date }} </p>
                    
                    <p>
                            {% if post.attendees.all|length == 0 %}
                                No one has RSVPed to this event yet.
                            
                            {% else %}
                                Attendees: 
                                {% for attendee in post.attendees.all %}
                                <div>{{attendee.get_full_name}} (Username: {{attendee.username}})</div>
                                {% endfor %}
                            {% endif %}
                    </p>
                    <p><a href="/events">Return Back to Events</a></p>
            </ul>
        </div>
    </body>
</html>
