<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    {% load static %}
        <div class="basic">
                {% include "home/header.html" %}    
        </div>

    {% load crispy_forms_tags %}
    <div class="container" style="margin-bottom: 30px;">
        <h1>Edit Event</h1>
        <span>
            <form method ="post">
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="btn btn-info" style="display: inline-block"> Submit </button>
            </form>
        </span>
    </div>
</body>
</html>