<!-- Title: Django Crispy Forms
Author: Miguel Araujo and Daniel Greenfeld Revision 
Date: Copyright 2009-2013
URL: https://django-crispy-forms.readthedocs.io/en/latest/
Software License: 3-clause BSD 

Title: Bootstrap
Author: Mark Otto and Jacob Thornton
Date: Accessed 10/5/2020
URL: https://getbootstrap.com/docs/3.3/components/
Software License: MIT License
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    {% load static %}
        <div class="basic">
                {% include "home/header.html" %}    
        </div>

    {% load crispy_forms_tags %}
    <div class="container" style="margin-bottom: 30px;">
        <h1>Edit Event</h1>
        <span>
            <form method ="post">
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="btn btn-info" style="display: inline-block"> Submit </button>
            </form>
        </span>
    </div>
</body>
</html>