<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Events</title>
</head>
<body>
        
        {% load static %}
        <div class="basic">
                {% include "home/header.html" %}    
        </div>

        {% load crispy_forms_tags %}
        <div class="container">
                <p><a href="/home">Return to Home Page</a></p>
                <form method='GET' action='{% url "events:events" %}'>
                        <input type='text' name = 'search_query' placeholder = 'Search events' />
                        <input type = 'submit' value = 'Search' />
                </form>
                <br>
                
                {% if user.is_authenticated %}
                <h1 class="welcome">Create an event</h1>
                <form method ="post">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <button type="submit"> Submit </button>
                </form>
                <br>
                {% else %}
                <br>
                <p style="color: red">Please <a href="/accounts/google/login?process=login">log in</a> to make an event. You can still view events without being logged in.</p>

                {% endif %}
                <h1 class="welcome">Events</h1>
                        <div class="row">
                        {% for post in posts reversed %}
                            {% if forloop.counter0|divisibleby:3 %}
                                </div><br>
                                <div class="row">
                            {% endif %}
                                <div class="col-4">
                                        <div class="card">
                                                <div class="card-body">
                                                <h5 class="card-title">{{post.name}}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Category: {{ post.category }}</h6>
                                                <p class="card-text">{{ post.description }}</p>
                                                <p class="card-text"> Location: {{ post.xcoordinate }}, {{ post.ycoordinate }}</p>
                                                <p class="card-text"> Posted by {{ post.user.get_full_name }} </p>
                                                <p class="card-text"> Date {{ post.date }} </p>
                                                
                                                <!-- Put these in the same line so they appear in-line on the web app -->
                                                <form action="/events/{{post.id}}/" method="POST">
                                                        {% csrf_token %}
                                                                <a href="/events/{{post.id}}/" class="btn btn-primary">Details</a>
                                                        {% if user.is_authenticated and user is not post.user and user not in post.attendees.all%}
                                                                <button class="btn btn-warning" type="submit">Mark as Going</button>
                                                        {% endif %}
                                                        {% if user in post.attendees.all %}
                                                                <span class="btn btn-success" >RSVPed!</button>
                                                        {% endif %}
                                                </form>
                                                </div>
                                                
                                        </div>
                                </div>
                        {% endfor %}

                        </div>
        </div>

</body>
</html>