<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Events</title>
</head>
<body>
        
        {% load static %}
        <div class="basic">
                {% include "home/header.html" %}    
        </div>

        {% load crispy_forms_tags %}
        <div class="container">
                <p><a href="/home">Return to Home Page</a></p>
                <form method='GET' action='{% url "events:events" %}'>
                        <input type='text' name = 'search_query' placeholder = 'Search events' />
                        <input type = 'submit' value = 'Search' />
                </form>

                {% if query %}
                <a href="/events">Reset search</a>
                {% endif %}

                <br>
                
                
                <h1 class="welcome">Events</h1>
                        <div class="row">
                        {% for post in posts reversed %}
                            {% if forloop.counter0|divisibleby:3 %}
                                </div><br>
                                <div class="row">
                            {% endif %}
                                <div class="col-4">
                                        <div class="card">
                                                <div class="card-body">
                                                <h5 class="card-title">{{post.name}}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Category: {{ post.category }}</h6>
                                                <p class="card-text">{{ post.description }}</p>
                                                <p class="card-text"> Location: {{ post.latitude }}, {{ post.longitude }}</p>
                                                <p class="card-text"> Posted by {{ post.user.get_full_name }} </p>
						<p class="card-text"> Event date: {{ post.event_date}}</p>
                                                <p class="card-text"> Date posted: {{ post.date }} </p>
                                                
                                                <!-- Put these in the same line so they appear in-line on the web app -->
                                                <form action="/events/{{post.id}}/" method="POST">
                                                        {% csrf_token %}
                                                                <a href="/events/{{post.id}}/" class="btn btn-primary">Details</a>
                                                        {% if user.is_authenticated %}
                                                                {% if user != post.user and user not in post.attendees.all %}
                                                                        <button class="btn btn-warning" type="submit">Mark as Going</button>
                                                                {% endif %}
                                                                {% if user == post.user %}
                                                                        <a class='btn btn-info' href="/events/{{post.id}}/edit">
                                                                                Edit Event
                                                                        </a>
                                                                        <a class='btn btn-danger' href="/events/{{post.id}}/delete">Delete</a>
                                                                {% endif %}
                                                                {% if user in post.attendees.all %}
                                                                        <button class="btn btn-success" type="submit">RSVPed!</button>
                                                                {% endif %}
                                                        {% endif %}
                                                </form>
                                                </div>
                                                
                                        </div>
                                </div> 
                                {% empty %}
                                <div class="container">
                                        <p>No events fit that criteria.</p>
                                </div>
                        {% endfor %}

                        </div>
        </div>

</body>
</html>
